In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('warung_padang_data.csv')

In [4]:
df

,tanggal,hari,rendang,gulai_ayam,sayur_asam,sambal_ijo,telur_dadar,total_penjualan
0,2023-03-01,Rabu,40,35,30,25,20,1250000
1,2023-03-02,Kamis,35,30,25,20,15,1150000
2,2023-03-03,Jumat,55,50,40,35,30,1800000
3,2023-03-04,Sabtu,60,55,45,40,35,2100000
4,2023-03-05,Minggu,70,65,55,45,40,2500000
...,...,...,...,...,...,...,...,...
56,2023-04-26,Rabu,55,50,45,40,35,1900000
57,2023-04-27,Kamis,60,55,50,45,40,1950000
58,2023-04-28,Jumat,70,65,55,50,45,2600000
59,2023-04-29,Sabtu,75,70,60,55,50,2900000
60,2023-04-30,Minggu,85,80,70,60,55,3400000